.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

input[type="submit"] {
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    background: rgba(120, 12, 234, 0.49);
    border: 0;
    color: #fff;
    padding: 10px 20px;
    align-self: center;
}

input[type="submit"]:hover {
    background: rgba(120, 12, 234, 0.6);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.login-card {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}